<div class='container'>
  <nav class='navbar navbar-default' role='navigation'>
    <div class='nav navber-nav'>
      <h3>Sotheby's</h3>
    </div>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'home'}}Home{{/link-to}}</li>
      <li>{{#link-to 'addLots'}}Add Lots to auction{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div>
