{{#each controller}}
  <ul>
    <li>
      <h5>{{title}}</h5>
      {{artist}}{{info}}
      <img width='200px' {{bind-attr src=img}}>
    </li>
  </ul>
{{/each}}
<!-- <p>{{#link-to 'addItems' this class='btn btn-default'}}Add new item to this lot.{{/link-to}}</p> -->
